<a id=search-btn style=display:inline-block href=javascript:void(0);>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
</a>
<div id=fastSearch>
    <input id=searchInput tabindex=0>
    <ul id=searchResults></ul>
</div>
<script src="{{ .Site.BaseURL }}js/fuse.min.js"></script>
<script src="{{ .Site.BaseURL }}js/fastsearch.js"></script>